<div class=" float-right  mt-3 ml-3 mr-3" style="width: 97%; background-color: #fff;">
  <div class="border-bottom " style="height: 6vh">
    <h5 href="#"> <strong> List Department </strong></h5>
  </div>
  <div class="d-flex justify-content-between ">
    <div class=" d-flex justify-content-between  align-items-center ">
      <div class="d-flex mt-3 form-group align-items-center">
        <div class="col-auto">
          <div class="input-group">
            <input type="text" class="form-control " [(ngModel)]="searchDepartment" (keyup)="searchAll()"
              placeholder="Enter name" style="width: 300px;">
            <div class="icon-del-input border-left-0 input-group-prepend form-control align-items-center " (click)="removeInput()">
              <i class="  fas fa-times "></i>
            </div>
          </div>
        </div>
      </div>
      <div class="example-button-row ">
        <button mat-raised-button (click)="searchAll()">Search</button>
      </div>
    </div>
    <div class=" float-right  d-flex justify-content-between  align-items-center" style="height: 15vh;">
      <a type="button" class=" btn btn-primary"   mat-raised-button  [routerLink]="['/department/create']">To add a department</a>
    </div>
  </div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col" style="width: 5%;">Stt</th>
        <!-- <th scope="col">ID</th> -->
        <th scope="col" style="width: 10%;">Name</th>
        <th scope="col" style="width: 50%;">Description</th>
        <th scope="col" style="width: 15%;">Action </th>
      </tr>
    </thead>
    <tbody id="tbody">
      <tr *ngFor="let department of departments; index as i">
        <td class="tr-td">{{i+1}}</td>
        <td> <a [routerLink]="['/department/view', department.departmentId]">    {{department.departmentName}} </a> </td>
        <td> <p class="ngatDoan">{{department.description}} </p> </td>
        <td><a class="btn btn-primary mr-3"  mat-raised-button [routerLink]="['/department/edit', department.departmentId]" >
            Edit
          </a>

          <!-- <a [routerLink]="['/product/delete', department.id]">Delete</a> -->
          <button type="button" class="btn btn-danger"  mat-raised-button
            (click)="changeId(department.departmentId)">
            Delete
          </button>
          <!-- data-toggle="modal" data-target="#deleteModal" -->
        </td>
      </tr>
    </tbody>
  </table>
  <div   *ngIf="departments.length == 0 " class="alert alert-info text-danger">
    Danh sach khong co du lieu
  </div>
  <div class="mb-4">

    <app-pagination *ngIf="departments.length > 0" (action)="getDepartments($event)" [(totalPages)]="totalPages" [(totalElements)]="totalElements"></app-pagination>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to delete department
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" >Delete</button>
      </div>
    </div>
  </div>
</div>


